body {
  background-color: #abc1ee;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}
.App-logo {
  max-width: 250px;
  display: block;
  margin: 0 auto;
}
.App-footer {
  text-align: center;
  margin: 30px 0;
  color: black;
  font-size: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 845px;
  }
  .App-footer {
    font-size: 28px;
  }
}
