.Meaning h3 {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 650;
  color: #6fd5d2;
  margin-bottom: 15px;
}

.Meaning .definition {
  color: black;
  font-size: 18px;
}

.Meaning .example {
  color: #fc709b;
  font-size: 18px;
  margin-bottom: 8px;
}

.Meaning .example:first-letter {
  text-transform: uppercase;
}
