.Phonetics .text {
  margin: 15px 0;
  font-size: 20px;
  color: blueviolet;
  font-weight: 450;
}

.Phonetics .audio {
  margin: -13px 0;
}

@media (min-width: 576px) {
  .Phonetics .text {
    font-size: 40px;
  }
}
